<html>
<head>
	<style>
	body {
		font-family: arial, sans-serif;
		text-align: center;
	}
	button {

	}
	table {
		border-collapse: collapse;
		width: 100%;
	}
	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #dddddd;
	}
	.btn-delete {
		background-color: red;
		color: white;
	}
	.logo-picture {
		height: 166px;
		width: 221px;
	}

	</style>
</head>
<body class='app-common'>
{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
<picture><source type="image/webp" srcset="https://media0.giphy.com/media/11kgieHVYW53lC/giphy.webp?cid=82a1493bcwdnt4uej9ravx3uiqbqp1gmoyjli5vf8thrp9g0&amp;rid=giphy.webp&amp;ct=g"><img class="giphy-gif-img giphy-img-loaded" src="https://media0.giphy.com/media/11kgieHVYW53lC/giphy.gif?cid=82a1493bcwdnt4uej9ravx3uiqbqp1gmoyjli5vf8thrp9g0&amp;rid=giphy.gif&amp;ct=g" width="664" height="498" alt="Dog Baby GIF" style="background: rgb(0, 255, 153);"></picture>
<h1>Lista mopsów</h1>
<h3>by Ewelina Jasielska</h3>
<button type="submit" onclick="location.href='nowy'">+ Dodaj nowego mopsa</button>
<br/><br/>

{% if mopsy %}
	<table>
		<tr>
			<th>Imie</th>
			<th>Kolor</th>
			<th>Wiek</th>
			<th></th>
		<tr/>
	{% for mops in mopsy %}
		<tr>
			<td>{{mops.imie}}</td>
			<td>{{mops.kolor}}</td>
			<td>{{mops.wiek}}</td>
			<td><button class="btn-delete" type="submit" onclick="location.href='skasuj/id={{mops.id}}'" >Usuń</button></td>
		<tr/>
	{% endfor %}
	</table>
{% else %}
    <p>Nie ma mopsów</p>
{% endif %} 
</body>
</html>