<html>
<head>
	<style>
	body {
		font-family: Arial;
		padding: 15px;
		margin: 10px;
		background: lightblue;
	}

	</style>
</head>
<body class='app-common'>
{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}

<h1>Lista mopsów</h1>
<button type="submit" onclick="location.href='nowy'">Nowy mops</button>
<br/>

{% if mopsy %}
	<table>
		<tr>
			<th>Imie</th>
			<th>Kolor</th>
			<th>Wiek</th>
			<th></th>
		<tr/>
	{% for mops in mopsy %}
		<tr>
			<td>{{mops.imie}}</td>
			<td>{{mops.kolor}}</td>
			<td>{{mops.wiek}}</td>
			<td><button>Usuń</button></td>
		<tr/>
	{% endfor %}
	</table>
{% else %}
    <p>Nie ma mopsów</p>
{% endif %} 
</body>
</html>