<html>
<head>
	<style>
	body {
		font-family: arial, sans-serif;
	}
	table {
		border-collapse: collapse;
		width: 100%;
	}
	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #dddddd;
	}
	.btn-delete {
		background-color: red;
		color: white;
	}

	</style>
</head>
<body class='app-common'>
{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}

<h1>Lista mopsów</h1>
<button type="submit" onclick="location.href='nowy'">Nowy mops</button>
<br/>

{% if mopsy %}
	<table>
		<tr>
			<th>Imie</th>
			<th>Kolor</th>
			<th>Wiek</th>
			<th></th>
		<tr/>
	{% for mops in mopsy %}
		<tr>
			<td>{{mops.imie}}</td>
			<td>{{mops.kolor}}</td>
			<td>{{mops.wiek}}</td>
			<td><button class="btn-delete" type="submit" onclick="location.href='skasuj/id={{mops.id}}'" >Usuń</button></td>
		<tr/>
	{% endfor %}
	</table>
{% else %}
    <p>Nie ma mopsów</p>
{% endif %} 
</body>
</html>