<html>
<head>
	<style>
	body {
		font-family: arial, sans-serif;
		text-align: center;
	}
    button {
        padding: 10px;
        color: white;
    }
    input {
        padding: 10px;
    }
    .btn-green {
        background: darkgreen;
    }
    .btn-red {
        background: darkred;
    }
	</style>
</head>
<body>
<picture>
	<source type="image/webp" srcset="https://media0.giphy.com/media/11kgieHVYW53lC/giphy.webp?cid=82a1493bcwdnt4uej9ravx3uiqbqp1gmoyjli5vf8thrp9g0&amp;rid=giphy.webp&amp;ct=g">
	<img class="giphy-gif-img giphy-img-loaded" src="https://media0.giphy.com/media/11kgieHVYW53lC/giphy.gif?cid=82a1493bcwdnt4uej9ravx3uiqbqp1gmoyjli5vf8thrp9g0&amp;rid=giphy.gif&amp;ct=g" width="221" height="166" alt="Dog Baby GIF" style="background: rgb(0, 255, 153);">
</picture>
<h1>Nowy mops</h1>

<button class="btn-red" type="submit" onclick="location.href='https://mopsy.herokuapp.com'">Powrót</button>
<br/><br/>

<form action="dodaj" method="post">
    <label for="imie">Imię: </label>
    <input id="imie" type="text" name="imie" />
    <br/><br/>
    <label for="wiek">Wiek: </label>
    <input id="wiek" type="text" name="wiek" />
    <br/><br/>
    <label for="kolor">Kolor: </label>
    <input id="kolor" type="text" name="kolor" />
    <br/><br/>

    <button class="btn-green" type="submit">+ Dodaj mopsa</button>
    {% if error %}
        <p class="msg-error"><b>{{error}}</b></p>
    {% endif %}
</form>

</body>
</html>